<h1>
  検索結果
</h1>
<%# 検索結果の個数で条件分岐 %>
<% if @results.length !=0 %>
  <% @results.each do |result| %>
    <td>
    <br>
    <li>
    <%= "#{result.shipping_charge.name}" %><br>
    <%= "#{result.category.name}" %><br>
    <%= "#{result.condition.name}" %><br>
    <%= "#{result.region.name}" %><br>
    <%= "#{result.delivery_schedule.name}" %><br>
    <%= "出品者：#{result.user.nickname}" %><br>
    <%= "生産地：#{result.group.name}" %><br>
    </li>
  <% end %>
<% else %>
  該当する商品はありません
<% end %>
<br>
<%= link_to 'トップページへ戻る', root_path %>